/* home section styling */

/* Navbar */
.navbar {
  display: flex;
  justify-content: right;
  padding-right: 18px; /* 20% reduction */
  padding-top: 35px; /* 20% reduction */
  margin-bottom: 160px; /* Remove margin bottom */
}

/* Styles for the logo section */
.logo {
  float: left; /* Float the logo to the left */
  padding: 12px; /* Adjust the padding as needed */
  margin-left: 8px;
  margin-top: 0px;
}

.logo img {
  float: left; /* Float the logo to the left */
  width: 85px; /* 20% reduction */
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {

}

html, body, main {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Remove the underline for the menu links */
#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#menu li a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-left: .7rem;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.case-study {
  position: relative;
  display: inline-block;
  width: calc(50% - 10px); /* 2x2 gallery with a small gap between items */
  height: 50px;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(1, 38, 247, 0.5);
  overflow: hidden;
  transition: all 0.4s ease;
}

.case-study__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  &:after {
    content: "";
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #202020;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -10;
    left: 0;
    transition: all 0.3s ease;
  }
}

.case-study__title {
  position: relative;
  top: 200px;
  margin-bottom: 2rem;
  margin-top: 0rem;
  font-size: 2.8rem;
  font-family: "Oswald";
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.case-study__link {
  position: relative;
  display: block;
  width: 60%;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  font-family: "Oswald";
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  &:hover {
    background-color: rgb(139, 172, 255);
    color: #202020;
  }
}

.case-study:hover {
  .case-study__title {
    top: 0;
  }
  .case-study__link {
    top: 0;
  }

  .case-study__overlay:after {
    opacity: 0.75;
  }
}

/* Add this for responsive design */
@media screen and (max-width: 768px) {
  .case-study {
    width: 100%; /* Full width on smaller screens */
  }
}



  /* Footer */
footer {
  color: #f0efef;
  background: linear-gradient(90deg, rgb(0, 41, 130) 0%, rgb(4, 0, 1) 100%);
  position: relative;
  width: 100%;
  padding: 0px 0px;
  overflow: hidden;
  margin-top: 800px;
}

footer h1,
footer h3 {
  font-size: larger;
}

footer h1 {
  font-size: xx-large;
}

footer p {
  font-size: x-small;
}

/* Main footer container */
.main {
  margin: 0;
  padding: 0 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* Footer header */
.footer-header {
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 15px;
  
}

#marc {
  margin-top: -15px;
  margin-left: -20px;
}

/* Office section, Link section */
.office-des,
.link-des {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
}

.office a {
  margin-top: 20px;
}

.office a,
.link-des a {
  text-decoration: none;
  color: #98a8f8;
  font-size: 1rem;
}

.num {
  font-size: 1.2rem;
}

.logo-des, p {
margin-left: -10px;
}

/* "Know More" button */
.btn-know {
  text-decoration: none;
  background-color: #fff;
  padding: 2px 4px;
  border: 1px solid #98a8f8;
  color: #000000;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 0.8rem;
  margin-left: -10px;

}

/* Newsletter section */
.newsletter-des {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 150px;

}

.newsletter-input {
  width: 100%;
  padding: 2px;
}

/* Social icons */
.icons {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  margin-left: -10px;
}

.icons i {
  font-size: 30px; /* Adjust the icon size as needed */
  color: #ffffff;
}

/* Copyright text */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0; /* Adjust margin as needed */
}

.copyright hr {
  width: 90%;
  opacity: 40%;
  border: 0.01px solid white;
  margin: 0.5rem 0; /* Adjust margin as needed */
}

/* Copyright text */
.copyright p {
  font-size: 1rem;
  margin: 0rem 0; /* Adjust margin as needed */
}