/* Navbar */
.navbar {
  display: flex;
  justify-content: right;
  padding-right: 18px; /* 20% reduction */
  padding-top: 35px; /* 20% reduction */
  margin-bottom: -24px; /* Remove margin bottom */
}

  
  /* Styles for the logo section */
  .logo {
    float: left; /* Float the logo to the left */
    padding: 12px; /* Adjust the padding as needed */
    margin-left: 8px;
    margin-top: 0px;
  }
  
  .logo img {
    float: left; /* Float the logo to the left */
    width: 85px; /* 20% reduction */
  }
  
  
  header {
    color: #000000;
    padding-bottom: 72px; /* 20% reduction */
    font-weight: lighter;
  }
  
  body {
    color: #000000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
  }
  
  html, body, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  /* Remove the underline for the menu links */
  #menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  #menu li a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-left: .7rem;
  }
  
  a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .back-button {
    margin-bottom: 30px;
    margin-top:  10px;
    margin-left: 4%;
  }
  
  .back-button a {
  
    padding: 5px 10px;
    background-color: #00c41d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-button a:hover {
    background-color: #000701;
  }
/* Style each section with a background color and padding */
#intro-pic {
    width: 40%;
  }
  
  .intro p{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

h2 {
    position: relative;
    display: inline-block;
    padding-bottom: 0px;
    border-bottom: 2px solid rgb(93, 131, 163);
    margin-bottom: 10px;
    font-size: medium;
}
section {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(2, 203, 79, 0.621);
}

p {
    width: 75%;
    font-size: medium;
}

.pain-points img {
  width: 1000px;
  height: 400px;
}

/* Style images within sections */
section img {
    max-width: 65%;
    height: auto;
    display: block;
}
section video {
    width: 20%;
    display: block;
}

/* Additional responsive styles can be added here */

/* Footer */
footer {
    color: #f0efef;
    background: linear-gradient(90deg, rgb(0, 41, 130) 0%, rgb(4, 0, 1) 100%);
    position: relative;
    width: 100%;
    padding: 0px 0px;
    overflow: hidden;
    margin-top: -10px;
  }
  
  footer h1,
  footer h3 {
    font-size: larger;
  }
  
  footer h1 {
    font-size: xx-large;
  }
  
  footer p {
    font-size: x-small;
  }
  
  /* Main footer container */
  .main {
    margin: 0;
    padding: 0 20px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  /* Footer header */
  .footer-header {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 15px;
    
  }
  
  #marc {
    margin-top: -15px;
    margin-left: -20px;
  }
  
  /* Office section, Link section */
  .office-des,
  .link-des {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 200px;
  }
  
  .office a {
    margin-top: 20px;
  }
  
  .office a,
  .link-des a {
    text-decoration: none;
    color: #98a8f8;
    font-size: 1rem;
  }
  
  .number {
    font-size: 1rem;
  }
  
  .logo-des, p {
  margin-left: -10px;
  }
  
  /* "Know More" button */
  .btn-know {
    text-decoration: none;
    background-color: #fff;
    padding: 2px 4px;
    border: 1px solid #98a8f8;
    color: #000000;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-left: -10px;
  
  }
  
  /* Newsletter section */
  .newsletter-des {
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 150px;
  
  }
  
  .newsletter-input {
    width: 100%;
    padding: 2px;
  }
  
  /* Social icons */
  .icons {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    margin-left: -10px;
  }
  
  .icons i {
    font-size: 30px; /* Adjust the icon size as needed */
    color: #ffffff;
  }
  
  /* Copyright text */
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0; /* Adjust margin as needed */
  }
  
  .copyright hr {
    width: 90%;
    opacity: 40%;
    border: 0.01px solid white;
    margin: 0.5rem 0; /* Adjust margin as needed */
  }
  
  /* Copyright text */
  .copyright p {
    font-size: 1rem;
    margin: 0rem 0; /* Adjust margin as needed */
  }