@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,900&family=Montserrat:wght@200;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


/* home section styling */

.navbar {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(39, 27, 111, 1) 0%, rgba(87, 25, 45, 1) 100%);
  padding: 2rem 0; /* Adjust top and bottom padding */
  margin-bottom: 0; /* Remove margin bottom */
}



header {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;

}

body {
  margin: 0;
  background-color: black;
  color: #f1f3f7;
  font-family: 'Poppins', sans-serif;
}

main {
  font-size: smaller;
}

/* Remove the underline for the menu links */

#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#menu li a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin-left: 1rem;
}
a {
  text-decoration: none;
  color: #f4f2f2;
  font-weight: bold;
}
/* portfolio gallery */
.container1 {
  max-width: 67%; /* Adjust the maximum width for responsiveness */
  margin: 0 auto;
  padding: 0 1rem 1rem;
  margin-bottom: -300px;
}

.container2 {
  max-width: 67%; /* Adjust the maximum width for responsiveness */
  margin: 0 auto;
  padding: 0 1rem 1rem;
  margin-top: 370px;
  margin-bottom: 150px;
}

h2 {
  font-size: 1.8rem; /* Adjust the font size for better responsiveness */
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.heading {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 3px 3px 5px hsl(233, 88%, 65%), -3px -3px 5px hsl(277, 85%, 41%);
  margin: 0 auto;
}

.container1 h3 {
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center; /* Center the grid horizontally */
}

.gallery-item {
  position: relative;
  flex: 1;
  box-shadow: 0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.image-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.gallery-item:hover .image-description {
  opacity: 1;
}



/* Footer */
footer {
  color: #f0efef;
  background: linear-gradient(90deg, rgba(39, 27, 111, 1) 0%, rgba(87, 25, 45, 1) 100%);
  position: relative;
  width: 100%;
  padding: 5px 0;
  font-size: 0.7rem;
  overflow: hidden;
}

/* Main footer container */
.main {
  margin: 0;
  padding: 0 10px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* Footer header */
.footer-header {
  font-size: 0.8rem;
}

/* Office section, Link section */
.office-des,
.link-des {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 150px;
}

.office a,
.link-des a {
  text-decoration: none;
  color: #98a8f8;
  font-size: 0.6rem;
}

.num {
  font-size: 0.6rem;
}

/* "Know More" button */
.btn-know {
  text-decoration: none;
  background-color: #fff;
  padding: 2px 4px;
  border: 1px solid #98a8f8;
  color: #98a8f8;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 0.6rem;
}

/* Newsletter section */
.newsletter-des {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 150px;
}

.newsletter-input {
  width: 100%;
  padding: 2px;
}

/* Social icons */

.icons {
  margin-top: -10px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.icons i {
  font-size: 20px; /* Adjust the icon size as needed */
  color: #ffffff;
}


/* Copyright text */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0; /* Adjust margin as needed */
}

.copyright hr {
  width: 80%;
  opacity: 40%;
  border: 0.01px solid white;
  margin: 0.5rem 0; /* Adjust margin as needed */
}

/* Copyright text */
.copyright p {
  font-size: 0.9rem;
  margin: 0.5rem 0; /* Adjust margin as needed */
}
