/* home section styling */

/* Navbar */
.navbar {
  display: flex;
  justify-content: right;
  padding-right: 10px; /* 20% reduction */
  padding-top: 30px; /* 20% reduction */
  margin-bottom: 0px; /* Remove margin bottom */
}

/* Styles for the logo section */
.logo {
  float: left; /* Float the logo to the left */
  padding: 20px; /* Adjust the padding as needed */
  margin-left: -18px;
  margin-top: -20px;
}

.logo img {
  float: left; /* Float the logo to the left */
  width: 85px; /* 20% reduction */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

main {
  background-color: rgb(239, 243, 243);
  margin: 0;
}

/* Remove the underline for the menu links */
#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#menu li a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-left: .6rem;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Adjust the size and position of the image wrapper */
.aboutimage-section {
  position: relative;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0 auto; /* Center the section */
  margin-top: -100px;
}

.aboutimage-wrapper {
  position: relative;
  margin-right: 100px;
  text-align: center;
  z-index: 0;
  margin-bottom: -120px;
}

.aboutimage-wrapper img {
  max-width: 350px; /* Adjust the max-width as needed */
  max-height: 400px;
  margin-top: 0px;
  margin-right: 150px;
  margin-bottom: 28px;
  position: relative;
  z-index: 1;
}

.abstract-bgabout {
  position: absolute;
  top: 0;
  left: 230px;
  right: 0;
  bottom: 0;
  background: url("../images/sig.use.png") center center no-repeat;
  background-size: 300px;
  opacity: 0.7;
  z-index: 1;
}
.abstract-bgabout2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 90px;
  bottom: 0;
  background: url("../images/pngegg-40.png") center center no-repeat;
  background-size: 450px;
  opacity: 0.7;
  z-index: -1;
}
#mystorytitle {
  padding-bottom: -30px;
  margin-top: 50px;
  padding-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: #000309;
}

#mytitle {
  padding-bottom: -30px;
  margin-top: -20px;
  padding-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: #000309;
}

.aboutcontent-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  font-size: 18px;
}

.about-article {
  margin-top: 20px;
}

.about-article2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}


/* Footer */
footer {
  color: #f0efef;
  background: linear-gradient(90deg, rgb(0, 41, 130) 0%, rgb(4, 0, 1) 100%);
  position: relative;
  overflow: hidden;
}

footer h1,
footer h3 {
  font-size: larger;
  margin-left: 20px;
  margin-top: -105px;
}

footer h1 {
  font-size: xx-large;
  margin-left: 20px;
  margin-top: -105px;
}

footer p {
  font-size: x-small;
  margin-left: 20px;
  margin-top: -5px;
}

/* Main footer container */
.main {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* Footer header */
.footer-header {
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 120px;
  margin-left: 10px;
}

/* Office section, Link section */
.office-des,
.link-des {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
  margin-left: 20px;
}

.office a,
.link-des a {
  text-decoration: none;
  color: #98a8f8;
  font-size: .8rem;
}

.num {
  font-size: 1rem;
}

/* "Know More" button */
.btn-know {
  text-decoration: none;
  background-color: #fff;
  padding: 2px 4px;
  border: 1px solid #98a8f8;
  color: #000000;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 0.8rem;
  margin-left: 20px;
}

/* Newsletter section */
.newsletter-des {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 150px;
  margin-left: 20px;
}

.newsletter-input {
  width: 100%;
  padding: 2px;
}

/* Social icons */
.icons {
  margin: -15px 0 20px 20px;
  display: flex;
  gap: 10px;
}

.icons i {
  font-size: 30px;
  color: #ffffff;
}

/* Copyright text */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
}

.copyright hr {
  width: 90%;
  opacity: 40%;
  border: 0.01px solid white;
  margin: 0.5rem 0;
}

.copyright p {
  font-size: 1rem;
  margin: 0rem 0;
}