/* home section styling */

/* Navbar */
.navbar {
  display: flex;
  justify-content: right;
  padding-right: 36px; /* 20% reduction */
  padding-top: 40px; /* 20% reduction */
  margin-bottom: 80px; /* Remove margin bottom */
}

/* Styles for the logo section */
.logo {
  float: left; /* Float the logo to the left */
  padding: 20px; /* Adjust the padding as needed */
  margin-left: 30px;
}

.logo img {
  width: 100px; /* 20% reduction */
  height: auto;
}

header {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.565);
  padding-bottom: 72px; /* 20% reduction */
  font-weight: lighter;
}

body {
  background-color: rgba(238, 236, 236, 0.386);
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Remove the underline for the menu links */
#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#menu li a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Common styles for both mobile and desktop */
/* Adjust the size and position of the image wrapper */
.image-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.image-caption {
  flex: 1;
  margin-left: 200px;
  padding: 24px; /* 20% reduction */
  font-size: medium;
  max-width: 30%; /* Adjust the width as needed */
}

.image-wrapper {
  max-width: 40%; /* Adjust the width as needed */
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  width: 40%; /* 20% reduction */
  height: auto;
  margin-right: 1200px;
}

.abstract-bg {
  position: absolute;
  top: -0px;
  left: 0px;
  right: 350px;
  bottom: -25px;
  background: url("../images/pngegg-37.png") center center no-repeat;
  background-size: 100%;
  z-index: -1; /* Set the z-index to move the abstract background behind other content */
}

.image-caption h1 {
  font-size: medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  margin-right: -90px; /* 20% reduction */
}

.image-caption h2 {
  margin-left: 110px;
  font-weight: lighter;
}

.image-caption #mynamehomepage {
  color: #000000;
  font-size: 35px; /* 20% reduction */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 40px;

}

.image-caption p {
  color: #000000;
  font-size: medium; /* 20% reduction */
  margin-left: 0px;
  text-align: left;
  padding-left: 120px; /* 20% reduction */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.typing {
  color: rgb(0, 86, 161);
 font-size: medium;
}


/* Services */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0px 8%;
  padding-bottom: 80px;
}

.container h1 {
  color: #000000;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 60px;
  font-size: 35px;
  position: relative;
}

.servicerow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
}

.service {
  text-align: center;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 11.2px; /* 20% reduction */
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.service i {
  font-size: 32px; /* 20% reduction */
  margin-bottom: 10px;
  color: #000000;
}

.service p {
  color: #000000;
  font-size: medium;
}

.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
  color: rgb(0, 86, 161);
}

.service:hover {
  background: #9fbaff44;
  color: #9ac1f97b;
  transform: scale(1.05);
}

.service:hover i {
  color: #070707;
}

/* Skills */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#skills {
  background-color: rgb(255, 255, 255);
  padding-bottom: 80px; /* 20% reduction */
}

#skillsheader {
  color: #000000f8;
  font-size: 35px; /* 20% reduction */
  text-align: center;
  margin: 40px 0; /* 20% reduction */
  padding: 20px 0; /* 20% reduction */
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0px;
}

.wrapper {
  padding-top: -500px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper h1 {
  color: #000000;
  font-size: medium; /* Adjust font size for smaller screens */
  text-align: center;
  margin: 8px 0; /* 20% reduction */
  font-weight: 200;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.progress-bar {
  height: 24px; /* 20% reduction */
  width: 40%; /* 20% reduction */
  background-color: #a8a7a7;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 0 5px inset rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 10px; /* Adjust margin as needed */
}

.bar {
  width: 0;
  height: 100%;
  background-color: rgba(7, 113, 251, 0.467);

  /* Lollipop background gradient */
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );

  background-size: 30px 30px;
  animation: move 2s linear infinite;
  box-shadow: 2px 0 10px inset rgba(0, 0, 0, 0.2);
  transition: width 2s ease-out;
}

/* Lollipop background gradient animation */
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}

.perc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
}

/* Footer */
footer {
  color: #f0efef;
  background: linear-gradient(90deg, rgb(0, 41, 130) 0%, rgb(4, 0, 1) 100%);
  position: relative;
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
  margin-top: 0px;
}

footer h1,
footer h3 {
  font-size: larger;
}

footer h1 {
  font-size: xx-large;
}

footer p {
  font-size: x-small;
}

/* Main footer container */
.main {
  margin: 0;
  padding: 0 10px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* Footer header */
.footer-header {
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Office section, Link section */
.office-des,
.link-des {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 150px;
}

.office a {
  margin-top: 20px;
}

.office a,
.link-des a {
  text-decoration: none;
  color: #98a8f8;
  font-size: 0.8rem;
}

.num {
  font-size: 0.6rem;
}

/* "Know More" button */
.btn-know {
  text-decoration: none;
  background-color: #fff;
  padding: 2px 4px;
  border: 1px solid #98a8f8;
  color: #98a8f8;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 0.8rem;
}

/* Newsletter section */
.newsletter-des {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 150px;
}

.newsletter-input {
  width: 100%;
  padding: 2px;
}

/* Social icons */
.icons {
  margin-top: -15px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.icons i {
  font-size: 20px; /* Adjust the icon size as needed */
  color: #ffffff;
}

/* Copyright text */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0; /* Adjust margin as needed */
}

.copyright hr {
  width: 80%;
  opacity: 40%;
  border: 0.01px solid white;
  margin: 0.5rem 0; /* Adjust margin as needed */
}

/* Copyright text */
.copyright p {
  font-size: 1rem;
  margin: 0.5rem 0; /* Adjust margin as needed */
}

@media screen and (max-width: 768px) {
  /* CSS rules for screens up to 768px */
}

@media screen and (max-width: 480px) {
  /* CSS rules for screens up to 480px */
}
